<div class="index-container">

  <div class="beer-keg">
    <img src="images/beer.png" class="beer-image" />
  </div>

  <div class="buttons">
    <a href="/beers" class="button beer-index">Check the Beers!</a>
    <a href="/random-beers" class="button beer-random">Check a Random Beer!</a>
  </div>

</div>